@font-face {
    font-family: "Ram";
    src: url(font/RampartOne-Regular.ttf);
}
@font-face {
    font-family: formal;
    src: url(font/KosugiMaru-Regular.ttf);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
html, body, p {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body, p, img, ul, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}
html {
  box-sizing: border-box;
}
img {
    vertical-align: bottom;
}
body {
    font-size: 10px;
    font-family: formal;
    background-color: #E8FBE1;
}
a {
    display: block;
}
h2 {
    padding: 1% 15% 10% 15%;
    font-size: 3.5rem;
    line-height: 3rem;
    font-family: Ram;
}

.bg-img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin:0 auto;
    opacity: -999;
}
.bg-img-sp {
    display: none;
}
.cover {
    position: relative;
    width: 100vw;
    height: 100vh;
}
#top-p {
    position: absolute;
    top: 3vh;
    left: 5%;
    right: 5%;
    & p {
        font-size: 4.0rem;
        color: #fff;
        font-family: Ram;
    }
}
.cover-box {
    position: relative;
}
#slideshow img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    // margin: auto;
    z-index: -1;
    transition: all 1.2s;
}
#slideshow {
    display: block;
}
#slideshow-sp {
    display: none;
}
.counseling-btn-sp-top {
    display: none;
}
.cover-slideshow-text {
    position: absolute;
    bottom: 8.0rem;
    left: 11.0rem;
    font-size: 3.6rem;
    line-height: 5.4rem;
    z-index: 100;
    font-family: Seri;
}
/* ▲　スライドショー */

/* ▼　svgアニメーション */
body {
    position: relative;
}
#oita-svg {
    position: absolute;
    display: block;
    top: 18vh;
    left: 50%;
    width: 30%;
    transform: translate(-50%,0);
    margin: 0 auto;
    transition: all 0.8s;
    z-index: 999;
    &.js-logo {
        position: fixed;
        top: 2vh;
        left: 6%;
        width: 10%;
    }
}
#oita01, #oita02 {
    fill: #8bc34a;
}
#oita01 {
    animation:oita01 4s;
    stroke-dasharray:6700px;
}
#oita02 {
    animation:oita02 4s ;
    stroke-dasharray:200px;
}
@keyframes oita01 {
    0% {
        stroke-dashoffset:6700px;
        fill-opacity: 0;
    }
    85% {
        stroke-dashoffset:0px;
        fill-opacity: 0;
    }
    100% {
        fill-opacity: 1;
        stroke-dashoffset:0px;
    }
}
@keyframes oita02 {
    0% {
        stroke-dashoffset:200px;
        fill-opacity: 0;
    }
    60% {
        stroke-dashoffset:200px;
        fill-opacity: 0;
    }
    85% {
        fill-opacity: 0;
    }
    100% {
        stroke-dashoffset:0px;
        fill-opacity: 1;
    }
}
/* ▲　svgアニメーション */


// ▼　Top Picks エリア
// ▼　サムネイル型カルーセル
@mixin aspect-ratio($width, $height) {
    position: relative;

    &::before {
        display: block;
        content: "";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }

    >img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
}
#latest {
    width: 100%;
    background: #E8FBE1;
    padding: 2% 0;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 50px 20px;
}
.carousel {
    display: block;
    text-align: left;
    position: relative;
    margin-bottom: 22px;

    > input {
        clip: rect(1px, 1px, 1px, 1px);
        clip-path: inset(50%);
        height: 1px;
        width: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;

        &:nth-of-type(6):checked ~ .carousel__slides .carousel__slide:first-of-type {
            margin-left: -500%;
        }
        &:nth-of-type(5):checked ~ .carousel__slides .carousel__slide:first-of-type {
            margin-left: -400%;
        }
        &:nth-of-type(4):checked ~ .carousel__slides .carousel__slide:first-of-type {
            margin-left: -300%;
        }
        &:nth-of-type(3):checked ~ .carousel__slides .carousel__slide:first-of-type {
            margin-left: -200%;
        }
        &:nth-of-type(2):checked ~ .carousel__slides .carousel__slide:first-of-type {
            margin-left: -100%;
        }
        &:nth-of-type(1):checked ~ .carousel__slides .carousel__slide:first-of-type {
            margin-left: 0%;
        }

        &:nth-of-type(1):checked ~ .carousel__thumbnails li:nth-of-type(1) {
            box-shadow: 0px 0px 0px 5px rgba(0,0,255,0.5); 
        }
        &:nth-of-type(2):checked ~ .carousel__thumbnails li:nth-of-type(2) {
            box-shadow: 0px 0px 0px 5px rgba(0,0,255,0.5); 
        }
        &:nth-of-type(3):checked ~ .carousel__thumbnails li:nth-of-type(3) { 
            box-shadow: 0px 0px 0px 5px rgba(0,0,255,0.5); 
        }
        &:nth-of-type(4):checked ~ .carousel__thumbnails li:nth-of-type(4) { 
            box-shadow: 0px 0px 0px 5px rgba(0,0,255,0.5); 
        }
        &:nth-of-type(5):checked ~ .carousel__thumbnails li:nth-of-type(5) {
            box-shadow: 0px 0px 0px 5px rgba(0,0,255,0.5); 
        }
        &:nth-of-type(6):checked ~ .carousel__thumbnails li:nth-of-type(6) { 
            box-shadow: 0px 0px 0px 5px rgba(0,0,255,0.5); 
        }
    }
}
.carousel__slides {
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    display: flex;
}
.carousel__slide {
    position: relative;
    display: block;
    flex: 1 0 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 300ms ease-out;
    vertical-align: top;
    box-sizing: border-box;
    white-space: normal;

    figure {
        display: flex;
        margin: 0;
    }
    div {
        @include aspect-ratio(3, 2);
        width: 100%;
    }
    img {
        display: block;
        flex: 1 1 auto;
        object-fit: cover;
    }
    figcaption {
        font-size: 1.0rem;
        align-self: flex-end;
        padding: 20px 20px 0 20px;
        flex: 0 0 auto;
        width: 25%;
        min-width: 150px;
    }
    .credit {
        margin-top: 1rem;
        color: rgba(0, 0, 0, 0.5);
        display: block;        
    }
    &.scrollable {
        overflow-y: scroll;
    }
}
.carousel__thumbnails {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
    
    .carousel__slides + & {
        margin-top: 20px;
    }
    
    li {        
        flex: 1 1 auto;
        padding-right: 50%;
        transform: scale(50%);
        opacity: 0;
        max-width: calc(65% / 6);  
        margin: 0 10px;
        transition: all 300ms ease-in-out;
    }

    @for $i from 1 through 6 {
        .js-fade:nth-child(#{$i}) {
            opacity: 1;
            padding-right: 0%;
            transform: scale(100%);
            transition: all .5s + 0.2 * $i ease-in-out;
        }
    }
    label {
        display: block;
        @include aspect-ratio(1,1);
    
        &:hover,
        &:focus {
            cursor: pointer;
            
            img {
                box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.25);
                transition: all 300ms ease-in-out;
            }
        }
    }
    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
// ▲　Top Picks エリア


// ▼　アルバムエリア
#album {
        width: 100%;
        background-color: rgba(232, 251, 225, 0.562);
        overflow-y: hidden;
}
.albums {
    position: relative;
    width: 100%;
    // height: 100vh;
    height: 100%;
    // min-height: 60vh;
    padding: 0;
    // top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 998;
    transition: 1s;
}
.al-text-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: auto;
    margin-bottom: 5%;
    & .al-text-area {
        font-size: 1.0rem;
        margin: 5vh 0;
    }
    & .album-title {
        margin: 0 auto;
        padding: 1vh 2%;
        font-size: 2.0rem;
        line-height: 2.5rem;
        background: linear-gradient(to right, #362ae0 0%,#3b79cc 50%,#42d3ed 100%);
        border-radius: 10px;
        color: #fff;
        transform-origin: left center;
        transform: scale(0);
        opacity: 0;
        &.js-fade {
            animation: title 1s cubic-bezier(0.22, 1, 0.36, 1);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
            transform: scaleX(1);
            opacity: 1;
            @keyframes title {
                0% {
                    transform: scaleX(0);
                    opacity: 0;
                }
                100% {
                    transform: scaleX(1);
                    opacity: 1;
                }
            }
        }
    }
}
.albums-tab {
    position: relative;
    height: auto;
    &.scroll-album {
        top: 20%;
        opacity: 0;

        &.js-fade {
            animation: scroll-up 1.5s cubic-bezier(0.28, 0.72, 0.55, 1.13);
            top: 0;
            opacity: 1;
            @keyframes scroll-up {
                0% {
                    opacity: 0;
                    top: 50px;
                }
                100% {
                    top: 0;
                    opacity: 1;
                }
            }
        }
    }
}

// ▼　slick設定
.slider {
    width: 100%;
    margin: 0 auto;
}
.slick-active {
    & .slick-content{
        opacity: 1;
        transition: opacity .5s;
    }
}
.slick-outer {
    position: relative;
    width: auto;
    height: 100%;
    & img {
        width: 100%;
        height: 78%;
        object-fit: cover;
        padding: 0 3%;
    }
}
.slick-content{
    position: absolute;
    height: 20%;
    width: 100%;
    top: 80%;
    left: 50%;
    transform: translate(-50%,0);
    z-index: 150;
    text-align: center;
    margin: 0 0px;
    padding: 0;
    color: #000;
    transition: opacity .5s;
    opacity: 0;
    & p {
        margin: 0;
        padding: 0;
        font-weight: bold;
        font-size: 1rem;
    }
    & h3 {
        margin: 0;
        padding: 0;
        font-weight: bold;
        font-size: 1.5rem;
        color: #fff;
    }
}
.pic-ctn {
    width: 100%;
    padding-top: 50px;
}
.slick-track{
    height: 100vh;
    cursor: pointer;
}
.slick-next{
    right: 10%;
}
.slick-prev{
    left: 10%;
}
.slick-next, .slick-prev {
    &::before {
        font-size: 5.0rem;
        color: rgba(13, 200, 0, 0.7);
    }
}
.slick-arrow{
    z-index: 2;
    width: auto;
    height: auto;
}
// ▲　slick設定

// ▼　背景画像パララックス
.background {
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    position: fixed;
    background-position: center center;
    z-index: -100;
    opacity: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.show .background {
    opacity: 1;
}
#content01_bg {
    background-image: url("img/album/content01/top.jpg");
}
#content02_bg {
    background-image: url("img/album/content02/top.jpg");
}
#content03_bg {
    background-image: url("img/album/content03/top.jpg");
}
// ▲　アルバムエリア


// ▼　タブレットサイズ
@media screen and (max-width:1023px) {
    // .al-text-box {
    //     & .al-text-area {
    //         font-size: 1.0rem;
    //     }
    //     & .album-title {
    //         // display: inline-block;
    //         padding: 0vh 2%;
    //         font-size: 1.0rem;
    //         line-height: 2.5rem;
    //         background: linear-gradient(to right, #362ae0 0%,#3b79cc 50%,#42d3ed 100%);
    //         border-radius: 10px;
    //         color: #fff;
    //         transform-origin: left center;
    //         transform: scale(0);
    //         opacity: 0;
    //     }
    // }
    // .albums-tab {
    //     margin: 7vh 0;
    // }
    // .al-text-box {
    //     & .al-text-area {
    //         font-size: 1.0rem;
    //         margin: 2vh 0;
    //     }
    //     & .album-title {
    //         padding: 1vh 2%;
    //         font-size: 1.2rem;
    //         line-height: 1.5rem;
    //     }
    // }
    // .slick-track{
    //     height: 45vh;
    // }
    // .slick-next{
    //     right: 1%;
    //     top: 22vh;
    // }
    // .slick-prev{
    //     left: 1%;
    //     top: 22vh;
    // }
    // .slick-next, .slick-prev {
    //     &::before {
    //         font-size: 3.0rem;
    //         color: rgba(13, 200, 0, 0.7);
    //     }
    // }
    .slick-active {
        & .slick-content{
            & p {
                margin: 0;
                padding: 0;
                font-weight: bold;
                font-size: 1rem;
            }
            & h3 {
              margin: 0;
              padding: 0;
              font-weight: bold;
              font-size: 1.2rem;
              color: #fff;
            }
        }
    }

}


@media screen and (max-width:767px) {
    #slideshow-sp {
        display: block;
    }
    #slideshow-sp img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
        right: 0;
        // margin: auto;
        z-index: -1;
        transition: all 1.2s;
    }
    #slideshow {
        display: none;
    }

    #top-p {
        top: auto;
        bottom: 10vh;
        left: 2%;
        right: 3%;
        & p {
            font-size: 3.0rem;
        }
    }
    #oita-svg {
        top: 10vh;
        width: 50%;
        &.js-logo {
            top: 2vh;
            left: 7%;
            width: 12%;
        }
    }


    .carousel__slide {
    
        figure {
            display: block;
            margin: 0;
        }
        div {
            @include aspect-ratio(3, 2);
            width: 100%;
        }
    }
    .carousel__thumbnails {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1%;

        li {        
            max-width: 30%;  
            margin: 5px 5px;
        }
    }


    // ▼　アルバムエリア
    .al-text-box {
        margin-top: 0;
        margin-bottom: 20%;
    }
    .slick-outer {
        height: 100%;
        & img {
            width: 90%;
            height: 50%;
            object-fit: cover;
            margin: 0 auto;
            padding: 0 3%;
        }
    }
    .slick-content{
        height: 30%;
        width: 100%;
        top: 53%;
        & p {
        
        }
        & h3 {
            
        }
    }
    .slick-next, .slick-prev {
        top: 26%;
        &::before {
            font-size: 2.0rem;
            color: rgba(13, 200, 0, 0.7);
        }
    }

}